body {
  font-family: 'Nunito', sans-serif;
}

ul {
  list-style-type: none;
  border-style: solid;
  border-width: 2px;
  border-color: #d3849d;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  width: 25%;
  height: 500px;
  overflow-y: scroll;
}

li {
  margin: 5px;
  border-color: #d3849d;
  text-align: center;
  background-color: #d3849d;
  border-radius: 10px;
  padding: 10px;
}

input[type=text], select {
  color: #d3849d;
  border-radius: 4px;
  font-size: 18px;
  border: 10px;
  margin: 10px;
}

input[type=number] {
  color: #d3849d;
  border-radius: 4px;
  font-size: 18px;
  border: 10px;
  margin: 10px;
}

button {
  width: 25%;
  padding: 14px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  width: 25%;
  padding: 14px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

label {
  color: #9284d3;
  font-size: 24px;
}

#title {
  color: #d3849d;
  text-align: center;
  font-size: 36px;
}

.stacks {
  font-size: 30px;
  text-align: center;
  color: #9284d3;
}
