body {
  font-family: 'Nunito', sans-serif;
}

ul {
  list-style-type: none;
  border-style: solid;
  border-width: 2px;
  border-color: #d3849d;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

li {
  width: 25%;
  margin: 5px;
  border-color: #d3849d;
  text-align: center;
  background-color: #d3849d;
  border-radius: 10px;
  padding: 10px;
}

input {
  color: #d3849d;
}

label {
  color: #9284d3;
  font-size: 24px;
}

#title {
  color: #d3849d;
  text-align: center;
  font-size: 36px;
}

.stacks {
  font-size: 30px;
  text-align: center;
  color: #9284d3;
}
